Tab-chars in CSP are displayed as escaped JSON

See the example test report:
https://internet.nl/site/kpshfbw2cignlly3adyvistkljrgsdwq3srgitxvxt6lyvdvnmxaa.v1.b6a.nl/2857442/#control-panel-29

```none
Retrieved CSP value: ["default-src\t'none';"]
```

This should be:
```none
Retrieved CSP value: ["default-src	'none';"]
```


@bwbroersma is a tab actually valid here? If not, current behaviour might be better.

In general whitespace characters are allowed in HTTP headers.

Tracing the [CSP header](https://www.w3.org/TR/CSP3/#csp-header) ABNF:
```abnf
Content-Security-Policy = 1#serialized-policy
                    ; The '#' rule is the one defined in section 5.6.1 of RFC 9110
                    ; but it incorporates the modifications specified
                    ; in section 2.1 of this document.

serialized-policy =
    serialized-directive *( optional-ascii-whitespace) ";" [ optional-ascii-whitespace serialize ] )

optional-ascii-whitespace = *( %x09 / %x0A / %x0C / %x0D / %x20 )
required-ascii-whitespace = 1*( %x09 / %x0A / %x0C / %x0D / %x20 )
; These productions match the definition of ASCII whitespace from the INFRA standard.
```
One can conclude `\t` (`0x09`) is allowed.
The current display looks like JSON, also the array notation, which is non ideal if there is only one header.