Test domains for CAA record [website test]

This is about extending the TLS part of the website test with a check on CAA. 
Issue #193 regards Internet.nl iteself being CAA compliant.

Further background:
~See: https://datatracker.ietf.org/doc/rfc6844/~ _Update: https://www.rfc-editor.org/rfc/rfc8659 (and https://www.rfc-editor.org/rfc/rfc8657 for the CAA Record Extensions for Account URI and Automatic Certificate Management Environment (ACME) Method Binding)_
Checking on CAA becomes mandatory for CA's: https://cabforum.org/2017/03/08/ballot-187-make-caa-checking-mandatory/

Let's add the subtest for CAA to the "Certificate" section under "Secure connection (HTTPS)" of the website test. (Thus for now we will not add the CAA subtest to the mail test. We can decide later on that.) CAA will be a recommended (optional) subtest; failure will give a warning and there is no score impact. This is in line with NCSC-NL recommending CAA and the NL Standardisation Forum having CAA on the list with recommended (but not mandatory ) standards. 

The subtest will check (1) if there's CAA record and (2) if the record data is valid. The found record data will be shown in the tech details section.   

CAA is defined in RFC8659: RFC https://datatracker.ietf.org/doc/html/rfc8659 
There might also be some additional useful info in the Baseline Requirements document of the CAB Forum that requires CAA checks by CA's: https://cabforum.org/baseline-requirements-documents/

Apparently XE already has done some work on thiss: https://github.com/internetstandards/Internet.nl/tree/ximon-feature-caa



RFC6844 was obsoleted by https://www.rfc-editor.org/rfc/rfc8659


@baknu already noticed RFC8659 in [his comment on Mar 25, 2021](https://github.com/internetstandards/Internet.nl/issues/194#issuecomment-806471321), but to clarify I changed the top comment to link to RFC8659 and RFC8657.

The diff between RFC8659 and RFC6844:
> ## [7. ](https://www.rfc-editor.org/rfc/rfc8659#section-7)[Differences from RFC 6844](https://www.rfc-editor.org/rfc/rfc8659#name-differences-from-rfc-6844)
> 
> This document obsoletes [[RFC6844](https://www.rfc-editor.org/rfc/rfc8659#RFC6844)]. The most important change is to the "Certification Authority Processing" section (now called "Relevant Resource Record Set" ([Section 3](https://www.rfc-editor.org/rfc/rfc8659#relevant-resource-record-set)), as noted below). [[RFC6844](https://www.rfc-editor.org/rfc/rfc8659#RFC6844)] specified an algorithm that performed DNS tree-climbing not only on the FQDN being processed but also on all CNAMEs and DNAMEs encountered along the way. This made the processing algorithm very inefficient when used on FQDNs that utilize many CNAMEs and would have made it difficult for hosting providers to set CAA policies on their own FQDNs without setting potentially unwanted CAA policies on their customers' FQDNs. This document specifies a simplified processing algorithm that only performs tree-climbing on the FQDN being processed, and it leaves the processing of CNAMEs and DNAMEs up to the CA's recursive resolver.
>
> This document also includes a "Deployment Considerations" section ([Section 6](https://www.rfc-editor.org/rfc/rfc8659#deployment-considerations)) detailing experience gained with practical deployment of CAA enforcement among CAs in the WebPKI.
>
> This document clarifies the ABNF grammar for the issue and issuewild tags and resolves some inconsistencies with the document text. In particular, it specifies that parameters are separated with semicolons. It also allows hyphens in Property Tags.
>
> This document also clarifies the processing of a CAA RRset that is not empty but that does not contain any issue or issuewild tags.
>
> This document removes the section titled "The CAA RR Type," merging it with "Mechanism" ([Section 4](https://www.rfc-editor.org/rfc/rfc8659#mechanism)) because the definitions were mainly duplicates. It moves the "Use of DNS Security" section into Security Considerations ([Section 5](https://www.rfc-editor.org/rfc/rfc8659#security-considerations)). It renames "Certification Authority Processing" to "Relevant Resource Record Set" ([Section 3](https://www.rfc-editor.org/rfc/rfc8659#relevant-resource-record-set)) and emphasizes the use of that term to more clearly define which domains are affected by a given RRset.

https://caatestsuite.com/

Code merged, content pending: https://github.com/internetstandards/Internet.nl_content/pull/56

Docs: https://github.com/internetstandards/Internet.nl/blob/main/documentation/caa.md

Cool to see progress being made. 

I had a question though; Would a domain fail the DNS CAA check if they don't have DNSSEC enabled? 

The documentation doesn't elaborate on this scenario. Ideally, a domain should fail any DNS CAA check without DNSSEC. After all, only DNSSEC can proof that the contents of a DNS CAA record are valid.

@thestinger: yes, I deployed it myself on my own domains too (both `accounturi` and `validationmethods`).

@baknu:
> 2. In case we can/will not check for known CA's, could we at least check if the value 'issuer-domain-name' is a valid domain name?

The ABNF parser will already enforce that `label *("." label)` is used for the `issuer-domain-name`:
https://github.com/internetstandards/Internet.nl/blob/f991ef383b7b3575fd28e18df0fddb78b1a5e00b/checks/caa/parser.py#L93-L97


> Working on the content I wondered: it would be nice to add an ℹ informational if the current CA does not match the CAA (using the [Common CA Database](https://www.ccadb.org/) of the The Linux Foundation), and a ⚠ if the CAA identifier is unknown, to prevent people adding a CAA with a typo, e.g.:
> 
> example.org.           IN      CAA     0 issue "letsecrypt.org"

This is possible, but not trivial. It will delay the release. We need to determine the priority. We've previously decided we will not do matching of the current CA to the current CAA. 

> this is not an issue in the interface, like it's not shown twice right?

Correct, not an issue.

> Which 'variant' is shown in the result?

That is undefined. But also not relevant, as their answers can only be different in incredibly obscure situations. Think CAA with a TTL of zero that sends a different answer every time. Even then, whether it was the "IPv4" or "IPv6" test is not part of the reason for fluttering results.

> @thestinger: I cannot wrap my head around if [RFC 8657](https://datatracker.ietf.org/doc/html/rfc8657) (especially the validationmethods part, since the accounturi is kind of unspecified) also applies to issuemail and issuevmc, do you know that?

There is no reference from RFC9495 to RFC8657. And 8657 specifically states it applies to issue/issuewild. I don't see grounds to say 8657 applies to issuemail.

In #1763 @bwbroersma said:
> @mxsasha: some other idea, maybe `issuemail` could be parsed with the same logic as issue/issuewild? (and therefore also check potential validationmethods parameter values)

As RFC 9495 has explicit ABNF defining the grammar of issuemail precisely, I'd rather follow that.

Agree on not adding any CAA identifiers now.  The earlier discussion evolved around not having a complete mapping and that a no-match (or empty) is also fine. An enhancement would be an  ℹ  informational when no match is found, which would probably prevent issues.

The ABNF is effectively same (different label, but the same is also the case for `issue` / `issuewild`). But I agree there is no link regarding CAA-ACME.

> Btw interesting that the [List of CAA Identifiers](https://ccadb.my.salesforce-sites.com/ccadb/AllCAAIdentifiersReportV2) is actually hosted on a salesforce domain and not on ccadb.org.

And only on IPv4.