security.txt ABNF states only CRLF in PGP parts is valid

The ABNF states only `CRLF` are allowed in the PGP parts of security.txt.
So only the cleartext or unsigned can use `LF` or `CRLF`.

While [§ 2.2. Line Separator](https://datatracker.ietf.org/doc/html/rfc9116#name-line-separator) states:

> Every line *MUST* end with either a carriage return and line feed characters (CRLF / %x0D %x0A) or just a line feed character (LF / %x0A).

[The security.txt RFC 9116 § 4. File Format Description and ABNF Grammar](https://datatracker.ietf.org/doc/html/rfc9116#name-file-format-description-and) states (filtered on relevant rules):

> The format of this file *MUST* follow the ABNF definition below (which incorporates the core ABNF rules from [[RFC5234](https://datatracker.ietf.org/doc/html/rfc5234)] and uses the case-sensitive string support from [[RFC7405](https://datatracker.ietf.org/doc/html/rfc7405)]).
> ```abnf
> body             =  signed / unsigned
> 
> ; signed is the production that should match the OpenPGP clearsigned
> ; document
> signed           =  cleartext-header
>                     1*(hash-header)
>                     CRLF
>                     cleartext
>                     signature
> 
> cleartext-header =  %s"-----BEGIN PGP SIGNED MESSAGE-----" CRLF
> 
> hash-header      =  %s"Hash: " hash-alg *("," hash-alg) CRLF
> 
> ;cleartext       =  1*( UTF8-octets [CR] LF)
>                       ; dash-escaped per RFC 4880 Section 7.1
> 
> cleartext        =  *((line-dash / line-from / line-nodash) [CR] LF)
> 
> signature        =  armor-header
>                     armor-keys
>                     CRLF
>                     signature-data
>                     armor-tail
> 
> armor-header     =  %s"-----BEGIN PGP SIGNATURE-----" CRLF
> 
> armor-keys       =  *(token ": " *( VCHAR / WSP ) CRLF)
>                       ; Armor Header Keys from RFC 4880
> 
> armor-tail       =  %s"-----END PGP SIGNATURE-----" CRLF
> 
> signature-data   =  1*(1*(ALPHA / DIGIT / "=" / "+" / "/") CRLF)
>                       ; base64; see RFC 4648
>                       ; includes RFC 4880 checksum
> 
> line             =  [ (field / comment) ] eol
> 
> eol              =  *WSP [CR] LF
> 
> CR               =  %x0D
>                       ; carriage return
> 
> CRLF             =  CR LF
>                       ; Internet standard newline
> 
> LF               =  %x0A
>                       ; linefeed
> 
> LWSP             =  *(WSP / CRLF WSP)
>                       ; Use of this linear-white-space rule
>                       ;  permits lines containing only white
>                       ;  space that are no longer legal in
>                       ;  mail headers and have caused
>                       ;  interoperability problems in other
>                       ;  contexts.
>                       ; Do not use when defining mail
>                       ;  headers and use with caution in
>                       ;  other contexts.
> 
> SP               =  %x20
> 
> WSP              =  SP / HTAB
>                       ; white space
> ```

Another issue is ending with more than one `CRLF`, which is not allowed if it's a signed security.txt according to the ABNF.

Note these tests are done with providing invalid security.txt. If the parser gives the correct error, a :white_check_mark: will be shown, if the parser passes there is an :x: :

|security.txt parsers | strict `CRLF` in signed PGP | strict in having `CRLF` end | strict in single `CRLF` end | strict in not allowing `CRLF` start |
|---|---|---|---|---|
|[DigitalTrustCenter/sectxt](https://github.com/DigitalTrustCenter/sectxt) / internet.nl | :x: ([test](https://internet.nl/site/ymkso2ndxgde5oigaa.v1.b6a.nl/2905153/#control-panel-31)) | :white_check_mark: ([test](https://internet.nl/site/ymkso6mydfutia6rhibqcaa.v1.b6a.nl/2905158/#control-panel-31)) | :x: ([test](https://internet.nl/site/ymmspi5zqxllsripaa.v1.b6a.nl/2885599/#control-panel-31)) | :white_check_mark: ([test](https://internet.nl/site/ymmspi7zqxtpsbia.v1.b6a.nl/2905134/#control-panel-31)) |
| URI Ports | :x: ([test](https://www.uriports.com/tools?method=securitytxt&domain=ymkso2ndxgde5oigaa.v1.b6a.nl)) | :white_check_mark: ([test](https://www.uriports.com/tools?method=securitytxt&domain=ymkso6mydfutia6rhibqcaa.v1.b6a.nl)) | :x: ([test](https://www.uriports.com/tools?method=securitytxt&domain=ymmspi5zqxllsripaa.v1.b6a.nl)) | :warning: ([test](https://www.uriports.com/tools?method=securitytxt&domain=ymmspi7zqxtpsbia.v1.b6a.nl)) ¹ |
| WebCheck | :x: ([test](https://webcheck.nl/check/ymkso2ndxgde5oigaa.v1.b6a.nl))| :x: ([test](https://webcheck.nl/check/ymmspi5zqxllsripaa.v1.b6a.nl)) ² | :x: ([test](https://webcheck.nl/check/ymkso6mydfutia6rhibqcaa.v1.b6a.nl)) ² | :x: ([test](https://webcheck.nl/check/ymmspi7zqxtpsbia.v1.b6a.nl)) ² |

¹ note the test does see it's not signed, recommends signing, but it allows for 'PGP parts' in the plaintext, which are not allowed if it's not signed (since only key: value, # comment and whitespace is allowed).
² it no longer shows / parses the PGP Hash and Contact and Expires fields, while still showing :white_check_mark:'s.

| Sample domains/urls with signed security.txt | ABNF valid | Note |
|--:|:-:|:--|
| [ymmspi5zqxdlsbia.v1.b6a.nl](https://ymmspi5zqxdlsbia.v1.b6a.nl/.well-known/security.txt) ([edit](https://v1.b6a.nl/?p=content-type%3Atext%2Fplain%0A.-----BEGIN%20PGP%20SIGNED%20MESSAGE-----%0A.Hash%3A%20SHA256%0A.%0A.Contact%3A%20mailto%3Asome-id%40example.org%0A.Expires%3A%202024-12-31T23%3A59%3A59Z%0A.-----BEGIN%20PGP%20SIGNATURE-----%0A.%0A.iHUEARMIAB0WIQRnSTngeethLs%2F475n%2BjJIL5ZJ5vwUCZpbvTgAKCRD%2BjJIL5ZJ5%0A.vwh2AQD0sE5OnUw3op%2BPjzz%2BFYQFZGW2VFkjFJ%2BoaYIUjUTQHQD%2FUlQXfN%2Fg0m%2Bm%0A.ebbLC%2FpDFvxwGpt2tqLgE%2FXfmmx2HiY%3D%0A.%3DQ5vn%0A.-----END%20PGP%20SIGNATURE-----)) | :white_check_mark: valid |all `CRLF` newlines |
| [ymkso2ndxgde5oigaa.v1.b6a.nl](https://ymkso2ndxgde5oigaa.v1.b6a.nl/.well-known/security.txt) ([edit](https://v1.b6a.nl/?p=content-type%3Atext%2Fplain%0AforceLF%0A.-----BEGIN%20PGP%20SIGNED%20MESSAGE-----%0A.Hash%3A%20SHA256%0A.%0A.Contact%3A%20mailto%3Asome-id%40example.org%0A.Expires%3A%202024-12-31T23%3A59%3A59Z%0A.-----BEGIN%20PGP%20SIGNATURE-----%0A.%0A.iHUEARMIAB0WIQRnSTngeethLs%2F475n%2BjJIL5ZJ5vwUCZpbvTgAKCRD%2BjJIL5ZJ5%0A.vwh2AQD0sE5OnUw3op%2BPjzz%2BFYQFZGW2VFkjFJ%2BoaYIUjUTQHQD%2FUlQXfN%2Fg0m%2Bm%0A.ebbLC%2FpDFvxwGpt2tqLgE%2FXfmmx2HiY%3D%0A.%3DQ5vn%0A.-----END%20PGP%20SIGNATURE-----)) | :x: invalid | only `LF` newlines |
| [ymkso6mydfutia6rhibqcaa.v1.b6a.nl](https://ymkso6mydfutia6rhibqcaa.v1.b6a.nl/.well-known/security.txt) ([edit](https://v1.b6a.nl/?p=content-type%3Atext%2Fplain%0AnoAutoLastlineCRLF%0A.-----BEGIN%20PGP%20SIGNED%20MESSAGE-----%0A.Hash%3A%20SHA256%0A.%0A.Contact%3A%20mailto%3Asome-id%40example.org%0A.Expires%3A%202024-12-31T23%3A59%3A59Z%0A.-----BEGIN%20PGP%20SIGNATURE-----%0A.%0A.iHUEARMIAB0WIQRnSTngeethLs%2F475n%2BjJIL5ZJ5vwUCZpbvTgAKCRD%2BjJIL5ZJ5%0A.vwh2AQD0sE5OnUw3op%2BPjzz%2BFYQFZGW2VFkjFJ%2BoaYIUjUTQHQD%2FUlQXfN%2Fg0m%2Bm%0A.ebbLC%2FpDFvxwGpt2tqLgE%2FXfmmx2HiY%3D%0A.%3DQ5vn%0A.-----END%20PGP%20SIGNATURE-----)) | :x: invalid | not ending with `CRLF` newline |
| [ymmspi5zqxllsripaa.v1.b6a.nl](https://ymmspi5zqxllsripaa.v1.b6a.nl/.well-known/security.txt) ([edit](https://v1.b6a.nl/?p=content-type%3Atext%2Fplain%0A.-----BEGIN%20PGP%20SIGNED%20MESSAGE-----%0A.Hash%3A%20SHA256%0A.%0A.Contact%3A%20mailto%3Asome-id%40example.org%0A.Expires%3A%202024-12-31T23%3A59%3A59Z%0A.-----BEGIN%20PGP%20SIGNATURE-----%0A.%0A.iHUEARMIAB0WIQRnSTngeethLs%2F475n%2BjJIL5ZJ5vwUCZpbvTgAKCRD%2BjJIL5ZJ5%0A.vwh2AQD0sE5OnUw3op%2BPjzz%2BFYQFZGW2VFkjFJ%2BoaYIUjUTQHQD%2FUlQXfN%2Fg0m%2Bm%0A.ebbLC%2FpDFvxwGpt2tqLgE%2FXfmmx2HiY%3D%0A.%3DQ5vn%0A.-----END%20PGP%20SIGNATURE-----%0A.)) <br> [ymmspi5zqxllsrmpcieaa.v1.b6a.nl](https://ymmspi5zqxllsrmpcieaa.v1.b6a.nl/.well-known/security.txt) ([edit](https://v1.b6a.nl/?p=content-type%3Atext%2Fplain%0A.-----BEGIN%20PGP%20SIGNED%20MESSAGE-----%0A.Hash%3A%20SHA256%0A.%0A.Contact%3A%20mailto%3Asome-id%40example.org%0A.Expires%3A%202024-12-31T23%3A59%3A59Z%0A.-----BEGIN%20PGP%20SIGNATURE-----%0A.%0A.iHUEARMIAB0WIQRnSTngeethLs%2F475n%2BjJIL5ZJ5vwUCZpbvTgAKCRD%2BjJIL5ZJ5%0A.vwh2AQD0sE5OnUw3op%2BPjzz%2BFYQFZGW2VFkjFJ%2BoaYIUjUTQHQD%2FUlQXfN%2Fg0m%2Bm%0A.ebbLC%2FpDFvxwGpt2tqLgE%2FXfmmx2HiY%3D%0A.%3DQ5vn%0A.-----END%20PGP%20SIGNATURE-----%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.%0A.)) | :x: invalid | ending in double `CRLF` <br> ending in 16× `CRLF` |
| [ymmspi7zqxtpsbia.v1.b6a.nl](https://ymmspi7zqxtpsbia.v1.b6a.nl/.well-known/security.txt) ([edit](https://v1.b6a.nl/?p=content-type%3Atext%2Fplain%0A.%0A.-----BEGIN%20PGP%20SIGNED%20MESSAGE-----%0A.Hash%3A%20SHA256%0A.%0A.Contact%3A%20mailto%3Asome-id%40example.org%0A.Expires%3A%202024-12-31T23%3A59%3A59Z%0A.-----BEGIN%20PGP%20SIGNATURE-----%0A.%0A.iHUEARMIAB0WIQRnSTngeethLs%2F475n%2BjJIL5ZJ5vwUCZpbvTgAKCRD%2BjJIL5ZJ5%0A.vwh2AQD0sE5OnUw3op%2BPjzz%2BFYQFZGW2VFkjFJ%2BoaYIUjUTQHQD%2FUlQXfN%2Fg0m%2Bm%0A.ebbLC%2FpDFvxwGpt2tqLgE%2FXfmmx2HiY%3D%0A.%3DQ5vn%0A.-----END%20PGP%20SIGNATURE-----)) | :x: invalid | starting with `CRLF` |

The problem is that gpg under Linux will leaves plaintext line ending intact and will use `\n` for PGP, ending with a single `\n`.

Todo:
- [ ] Fix our own security.txt by adding `\r` (no need to re-sign)
  ```bash
  $ perl -pe 's/(?<!\r)\n/\r\n/g'
  $ sed -z -r 's/([^\r])\n/\1\r\n/g'
  ```
- [ ] Notify other parsers
- [ ] Decide if the RFC 9116 needs an update / errata for not being stricter than PGP

Note that the [RFC 9580 OpenPGP](https://datatracker.ietf.org/doc/html/rfc9580) makes the checksum optional, the ABNF does not force a checksum, but signature-data has the comment ` ; includes RFC 4880 checksum`.

I missed the fact that there is already an errata for this: https://www.rfc-editor.org/errata/eid7743
>  Errata ID: 7743
> Status: Reported
> Type: Technical
> Publication Format(s) : TEXT, PDF, HTML
> Reported By: Esa Jokinen
> Date Reported: 2023-12-30
> 
> Section 4 says:
> 
>     CRLF             =  CR LF
>                           ; Internet standard newline
> 
> It should say:
> 
>     CRLF             =  [CR] LF
>                           ; Both CRLF and LF line separators can be used
>                           ; (see Section 2.2) as long as the entire file
>                           ; uses the chosen line separator.