Update sectxt to 0.9.0

[DigitalTrustCenter/sectxt](https://github.com/DigitalTrustCenter/sectxt) released 0.9.0 with has quite a few parser improvements, especially on PGP.

The only one I'm not sure about is the stripping of the BOM (https://github.com/DigitalTrustCenter/sectxt/issues/57#issuecomment-1663592300). I interpret the [RFC 9116 - File Format Description and ABNF Grammar](https://www.rfc-editor.org/rfc/rfc9116.html#name-file-format-description-and):
> The file format of the "security.txt" file MUST be plain text (MIME type "text/plain") as defined in [Section 4.1.3](https://www.rfc-editor.org/rfc/rfc2046#section-4.1.3) of [[RFC2046](https://www.rfc-editor.org/rfc/rfc9116.html#RFC2046)] and MUST be encoded using UTF-8 [[RFC3629](https://www.rfc-editor.org/rfc/rfc9116.html#RFC3629)] in Net-Unicode form [[RFC5198](https://www.rfc-editor.org/rfc/rfc9116.html#RFC5198)].

[RFC 5198](https://www.rfc-editor.org/rfc/inline-errata/rfc5198.html) states:
> 2. Net-Unicode Definition
> The Network Unicode format (Net-Unicode) is defined as follows. Parts of this definition are deliberately informal, providing guidance for specific profiles or rules in the protocols that reference this one rather than firm rules that apply globally.
> …
>     5.  As suggested in Section 6 of RFC 3629, the Byte Order Mark ("BOM") signature MUST NOT appear at the beginning of these text strings.

Especially in combination with signing maybe a :warning: warning or :information_source: notice should be shown. Although it's _outside_ of the PGP block, a file with BOM is no longer recognized with `file` in Linux as a PGP signed file.

I'll find out which new content labels we need.

https://github.com/DigitalTrustCenter/sectxt/issues/65 may be a blocker for this - have not looked in detail

Content still needs to be checked: all labels in https://github.com/DigitalTrustCenter/sectxt/ readme need to be in our content too.

Upstream solved it in the [0.9.3 release](https://github.com/DigitalTrustCenter/sectxt/releases/tag/0.9.3).

Although this is in milestone v1.9, it is already included and deployed in the 'batch' [release v1.8.7](https://github.com/internetstandards/Internet.nl/releases/tag/v1.8.7).

@bwbroersma I just copied the English texts from https://github.com/DigitalTrustCenter/sectxt/blob/main/README.md to new text files for:

```
- bom_in_file
- invalid_cert
- invalid_uri_scheme
```
I will check these texts and translate them into Dutch. 

Couldn't find `pgp_envelope` in the above mentioned README though. Could you check?

`pgp_envelope` is not an error but a `type` (like `comment` and `field`).
So no translation is needed.

@mxsasha Double-checking with you:  

- `bom_in_file` is part of the sectxt parser that Internet.nl uses. Correct?
- `invalid_cert` and `invalid_uri_scheme` are both not part of the sectxt parser but part of the sectxt retrieval code that Internet.nl does not use. Have you mimicked these checks and message labels in our code?

@baknu:
- correct (see https://github.com/DigitalTrustCenter/sectxt/issues/69)
- `invalid_cert`: see #1562.
- `invalid_uri_scheme`: when would this be the case? Some testing BTW:
  - Redirecting to a http only website with a `Canonical: http://` will result in `Error: Web URI must begin with 'https://'` ([test](https://dev-docker.internet.nl/site/ap5qys5o2ebxshpiomiklg47s5j2sr2uoegaa.v1.b6a.nl/31681/#control-panel-31)).
  - Redirecting to a http only website with a `Canonical: https://` will result in `Error: The web URI of security.txt (i.e. when redirecting at least the last URI of the redirect chain) must be listed in a 'Canonical' field if present.` ([test](https://dev-docker.internet.nl/site/ap5qys5o2ebxshpiomiklg47s5j2sr2uoegaa.v1.b6a.nl/31682/#control-panel-31)).
  - Redirecting to a http only website without a `Canonical: ` will result in :information_source: an informational recommendation to add Canonical ([test](https://dev-docker.internet.nl/site/ap5qys5o2ebxshpiomiklg47s5j2sr2uoegaa.v1.b6a.nl/31684/#control-panel-31)), created #1563.

I think it's best to close this issue (as solved for v1.9) and fix these minor edge cases another release.

Ok, thanks! Agreed. 

Still two questions:
1. So the content for both `invalid_cert` and `invalid_uri_scheme` is currently not used. Shall I leave these text labels in the content repo?
2. Regarding `invalid_cert`: Internet.nl currently evaluates the validity of the domain tested under "Secure connection (HTTPS)" --> "Certificate" --> "Trust chain of certificate" and "Domain name on certificate". However, these subtests do not evaluate domains to which the tested domain redirects. o this means that in a redirect chain to a security.txt, an invalid certificate can still be used that Internet.nl does not detect. Shouldn't we also open an issue for this?

@baknu:

2. Yes, see [comment](https://github.com/internetstandards/Internet.nl/issues/1046#issuecomment-2508547299), this issue is covered in #1562.

Ad 1: I left the respective text files in the content repo, and made the following note in each of them:

[Note: this content label is currently not used. See #1046.]
