How is Whois replacing RDAP currently evaluated?

For internet.nl, registration of a webdomain may become of additional value.
All kinds of new scripts become annoyingly complicated.

On https://rdap.hostingtool.nl/ my modeling should minimize the gap between technical and functional understanding.
Its code is on https://github.com/janwillemstegink/model_rdap_view.

1. The role of an entity is unnecessarily hard to read from the JSON format.
In my PHP, an initial foreach loop first detects a role's entity key;
2. There are more new and relevant zone details to display, such as a trade name of the applicable registry;
3. Field names can be more readable by humans.
Note: Zone details, such as restrictions, must indeed be read together with domain details in order to work legally.

Think about helping make RDAP a success.

Relevant info: [ICANN Registration Data Access Protocol Timeline](https://www.icann.org/resources/pages/rdap-background-2018-08-31-en) from 2015-2019.

From the [ICANN RDAP FAQ](https://www.icann.org/resources/pages/rdap-faqs-2018-08-31-en):
> ### Will RDAP replace web-based and port 43 WHOIS?
> 
> ICANN-accredited registrars currently must provide access to registration data to the public in two ways:
> - An interactive web page provided on the registrar's website (web-based WHOIS); and
> - WHOIS (port 43) lookup as defined by [RFC 3912](https://www.rfc-editor.org/rfc/rfc3912.txt).
>
> In the short term, RDAP will not replace web-based or port 43 WHOIS. Based on current policies and agreements, contracted parties will be required to implement RDAP in addition to (port 43) WHOIS and web-based WHOIS.

Is there a TLD overview?

I found one: https://deployment.rdap.org/

> I found one: https://deployment.rdap.org/

Seems outdated:
https://rdap.sidn.nl/domain/example.nl


[RFC 9224 - Finding the Authoritative Registration Data Access Protocol (RDAP) Service](https://datatracker.ietf.org/doc/html/rfc9224) / https://www.iana.org/assignments/rdap-dns/rdap-dns.xhtml

So this should be a more official source: https://data.iana.org/rdap/dns.json (also interesting: https://data.iana.org/rdap/). This also does not list `nl` / SIDN. So maybe the SIDN RDAP it's still in beta, or it's not yet requested to add it.

5 jun 2024 16:42 CEST:
EURid for .eu, .it and .be:
For the moment there are no concrete plans to implement RDAP.
------------------------------------
Conclusion - A Dutch Ministry of Digital Affairs could take action on these points:
- a next version of the RDAP protocol designed for web id's, optimized for holder types, a communicative fixed field order, clearly specified by role even if duplicate, essential fields mandatory even if empty, and field names optimized for human readability;
- a rate structure almost without discounts and without mutation costs (EU TLD's and gTLD's);
- a country level agreement about storage of entity domain names in order to audit deviations (security officer login);
- approachable such as through GitHub issues.

Comments from Stegink Hosting & E-mail regarding NIS2
-----------------------------------------------
Searching for RDAP leads to potatoes!

1. In my opinion, the RDAP protocol, for domain and IP registration, needs a next version to comply.
- The expected web IDs in Trade Registers are getting closer.
- RDAP software does not need to grow as it does now. See also my https://rdap.hostingtool.nl.
- The European Commission can take steps towards the desired situation;
2. The draft text is about multiple storage of domain registration:
- A registry of entity-domain name relationships facilitates the audit of deviations from global RDAP data.
- The Security / Data Protection Officer must be accountable for the relationship between an entity and a domain name.
- A separate register (from Apeldoorn) can work with the simple interface of the Trade Register;
3. The Trade Register benefits from US English. This includes table definitions, search field names and applications.
- English is more relevant than Dutch for the Trade Register than for the Land Registry;
4. I saw about thirty specialist vacancies at the Chamber of Commerce.
- With Logius, the central government can make the expertise of the Kadaster work broadly;
5. The zone holder and the registrar cannot simply arrange identification of an entity between themselves.
- The costs for customers of mutating are now a revenue model. The EU can focus on period costs.
- The generic top-level zones seem controllable compared to a country code top-level zone such as .eu;
6. The volume discounts by zone holders are likely to lead to unfair competition.
- What would be a platform to weigh interests? GitHub is useful for software.

NB: Legal formulation is not my intention. First I think of progressive insight.

Arnhem, Jan Willem Stegink
https://janwillemstegink.nl/

> The answer to "How to successfully use RDAP protocol instead of WHOIS?" is: **there are no way to successfully use RDAP**, only, perhaps, to try some experimental implementation... But even experimental, I not know how to try it.

https://stackoverflow.com/a/37835341

> This also does not list `nl` / SIDN. So maybe the SIDN RDAP it's still in beta, or it's not yet requested to add it.

Since the RDAP of `nl` / SIDN no longer seem to be in beta, I contacted admin@sidn.nl about https://www.iana.org/assignments/rdap-dns/rdap-dns.xhtml.

![image](https://github.com/user-attachments/assets/416f82d2-a744-49ea-af5e-25c806b362bb)


My latest insight:
---------------------
![image](https://github.com/user-attachments/assets/8c139e05-5c7c-42d0-bbd2-b4b45bf50089)


Notice on https://whois.domaintools.com/:
Possible deprecation of WHOIS services after January 28, 2025 for ICANN TLDs

https://www.icann.org/resources/pages/global-amendment-2023-en#implementation-notes:
> ### Implementation Notes
> This section provides registry operators and registrars high-level details that are relevant to the implementation of some of the changes resulting from the approved global amendments.
> - 07 August 2023: Global Amendment effective date, Ramp-Up Period begins
> - 03 February 2024: Ramp-Up Period ends
> - 28 January 2025: WHOIS Sunset Date


**CentralNic is up-to-date for fryslan.frl:**
https://validator.rdap.org/?url=https%3A//rdap.centralnic.com/frl/domain/fryslan.frl&response-type=domain&server-type=gtld-registry&errors-only=1

![Image](https://github.com/user-attachments/assets/2445279c-a64b-48b0-b677-1e6bddac9653)

**SIDN can proceed with the latest changes:**
https://validator.rdap.org/?url=https%3A//rdap.sidn.nl/domain/sidn.nl&response-type=domain&server-type=gtld-registry&errors-only=1

![Image](https://github.com/user-attachments/assets/7a972fae-1bd9-449c-91b1-2efba86ee233)

Such a clear descriptive name can work for zone policy adjustments.

![Image](https://github.com/user-attachments/assets/e6343966-032c-4bfa-9cc8-f8c1a6b0cb81)

From 2025, the Dutch SIDN will allow external whistleblowing, such as the following RDAP misunderstanding:
https://rdap.hostingtool.nl/modeling_domain/index.php?language=2&domain=recyclinginnederland.nl

![Image](https://github.com/user-attachments/assets/44028949-6f3b-4c7c-b827-f7b313aa4681)

The country code requires maintenance to fill its field properly and clear the country name field. 
https://rdap.hostingtool.nl/modeling_domain/index.php?language=2&domain=recyclinginnederland.nl

![Image](https://github.com/user-attachments/assets/7a448f60-2e2b-42d7-a33a-145655354542)

Not sure what any of this has to do with internet.nl, but for **.nl** 🇳🇱 the https://validator.rdap.org/ tool should be used with the '`Vanilla (IETF STD95)`' server type. 

Having an expiry date after a deletion date is consistent with SIDN's policy and not in violation of RDAP.

The same applies for the way SIDN represents a country. The 'cc'-extension defined in [RFC8605 section 3](https://datatracker.ietf.org/doc/html/rfc8605#section-3) does not apply to ccTLDs but exists to accommodate ICANN requirements referred to as [gTLD RDAP profile](https://www.icann.org/en/contracted-parties/registry-operators/registration-data-access-protocol/gtld-rdap-profile-01-01-2020-en), [section 1.4](https://itp.cdn.icann.org/en/files/registry-operators/rdap-response-profile-21feb24-en.pdf).

That's why various RDAP-outputs exits, all valid.

For example:

_Alpha-2 ISO-3661 country code in the CC parameter:_
- https://rdap.centralnic.com/frl/domain/nic.frl
- https://rdap.publicinterestregistry.org/rdap/domain/nic.org

_Alpha-2 ISO-3661 country code in text:_
- https://rdap.sidn.nl/domain/nic.nl
- https://rdap.nic.fr/domain/nic.fr
- https://rdap.registro.br/domain/nic.br
- https://rdap.kiwi.fury.ca/rdap/domain/nic.kiwi

_Full country name:_
- https://rdap.hostmaster.ua/domain/nic.ua




I have tagged some comments as outdated, off-topic and resolved.
Thanks for the comment @mdavids about the ccTLD `.nl` RDAP, https://validator.rdap.org/?url=https%3A//rdap.sidn.nl/domain/sidn.nl&response-type=domain&server-type=vanilla&errors-only=1 seems to have no issues.

Issues regarding RDAP response harmonization are off-topic here (including discussions about RDAP event dates and states, since none are used in Internet.nl) . Currently WhoIs is *only* used for the registrar name:
https://github.com/internetstandards/Internet.nl/blob/c6498c8b1dbc51d36401b4712384bffac83d1fdc/checks/tasks/dnssec.py#L119-L143

This should either migrate to RDAP since WhoIs is phased out, or be dropped.

For the record and for the sake of completeness: we are aware that our RDAP output for the gTLDs .politie and .amsterdam is non-compliant (the [ICANN mandatory CC parameter](https://datatracker.ietf.org/doc/html/rfc8605#section-3) is missing). We are also aware of the duplication in glue records.