Use ISO8601 uppercase Z in security.txt

Use ISO8601 uppercase `Z` in Expires field of security.txt.

Currently we have a lower case `z`:
https://github.com/internetstandards/Internet.nl/blob/3f03db3357bb78604e032deffacbd5ce7bb7c267/.well-known/security.txt#L31

Probably because [this example in RFC9116 section 2.5.5](https://www.rfc-editor.org/rfc/rfc9116#section-2.5.5):
> Expires: 2021-12-31T18:37:07z

It notes:
> The value of this field is formatted according to the Internet profiles of [[ISO.8601-1](https://www.rfc-editor.org/rfc/rfc9116#ISO.8601-1)] and [[ISO.8601-2](https://www.rfc-editor.org/rfc/rfc9116#ISO.8601-2)] as defined in [[RFC3339](https://www.rfc-editor.org/rfc/rfc9116#RFC3339)].

In [RFC3339 section 5.6](https://www.rfc-editor.org/rfc/rfc3339#section-5.6) it 'kind of' allows both:
> ```
> time-offset     = "Z" / time-numoffset
> ```
> NOTE: Per [[ABNF](https://www.rfc-editor.org/rfc/rfc3339#ref-ABNF)] and ISO8601, the "T" and "Z" characters in this syntax may alternatively be lower case "t" or "z" respectively.
>
> This date/time format may be used in some environments or contexts that distinguish between the upper- and lower-case letters 'A'-'Z' and 'a'-'z' (e.g. XML).  Specifications that use this format in such environments MAY further limit the date/time syntax so that the letters 'T' and 'Z' used in the date/time syntax must always be upper case. Applications that generate this format SHOULD use upper case letters.

But I think it's better to use a `Z` here. [An errata for RFC9116 section 2.5.5 is also filed](https://www.rfc-editor.org/errata/eid7264).