Connection test - TLS information

In the desire to debug the [TLS Client Hello](https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.1.2) I came across https://browserleaks.com/tls, which has a nice JSON API: https://tls.browserleaks.com/tls which will show all cipher suites (e.g. PQ X25519Kyber768Draft00 support) and extensions (e.g. [RFC 3546 - SNI](https://datatracker.ietf.org/doc/html/rfc3546), [RFC draft - NPN](https://datatracker.ietf.org/doc/html/draft-agl-tls-nextprotoneg-04), [RFC 7301 - ALPN](https://datatracker.ietf.org/doc/html/rfc7301), [RFC 7366 - Encrypt-then-MAC](https://datatracker.ietf.org/doc/html/rfc7366), [RFC draft - ECH](https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-18)), without the need to spin up Wireshark.

Not sure if it would fit the connection test, since it's browser based. And of course it would be nice to replicate the JSON API as open source. It could be done by using nginx in the [Preread phase](https://nginx.org/en/docs/stream/stream_processing.html#preread_phase) by decoding the Client hello with [js_preread](https://nginx.org/en/docs/stream/ngx_stream_js_module.html#js_preread).