HSTS parser bug

[Example deafsluitdijk.nl](https://internet.nl/site/deafsluitdijk.nl/2186111/#control-panel-10)
```none
Strict-Transport-Security: : max-age=31536000; IncludeSubDomains
```
Note the extra `:`, I checked the RFC, the 2 major browsers and other implementations:
- RFC: [syntax in RFC6797](https://www.rfc-editor.org/rfc/rfc6797.html#section-6.1) seems pretty clear:
    ```none
    Strict-Transport-Security = "Strict-Transport-Security" ":"
                                     [ directive ]  *( ";" [ directive ] )

         directive                 = directive-name [ "=" directive-value ]
         directive-name            = token
         directive-value           = token | quoted-string

       where:

         token          = <token, defined in RFC2616, Section 2.2>
         quoted-string  = <quoted-string, defined in RFC2616, Section 2.2>
    ```
    (clickable links: [RFC2616, Section 2.2](https://www.rfc-editor.org/rfc/rfc2616#section-2.2), [RFC2616, Section 2.2](https://www.rfc-editor.org/rfc/rfc2616#section-2.2))
    No room here I would say.
- Browsers:
    - :fox_face: Firefox trashes the log with a :warning: warning for every resource with this wrong HSTS:
        ```none
        Strict-Transport-Security: The site specified a header that could not be parsed successfully.
        ```
    - Chrome: nothing in the log, bug also does not accept this, since `chrome://net-internals/#hsts` 'Query HSTS/PKP domain' for `deafsluitdijk.nl` says `Not found` after visiting the site.
        ![image](https://github.com/internetstandards/Internet.nl/assets/4252918/0031ed44-920a-4f46-abf0-2dc15f4cee4d)
- Some other implementations:
    | Tool | Result |
    |:---|:---|
    | [SecurityHeaders.com](https://securityheaders.com/?q=deafsluitdijk.nl&hide=on&followRedirects=on) | :x: Also incorrectly passes |
    | [hstspreload.org](https://hstspreload.org/?domain=deafsluitdijk.nl) | :heavy_check_mark: Correctly gives parser error, also :warning:  for other stuff*  |
    | [HSTS test - SEO Site Checkup](https://seositecheckup.com/tools/hsts-test) |:x: Also incorrectly passes |
    | [HSTS Test - Domsignal](https://domsignal.com/hsts-test) | :x: `Internal Server Error` on any input |

    \* See:
    - #1016
    - #1019 
    - #1020 
    - #1021

The parsing code:
https://github.com/internetstandards/Internet.nl/blob/3ddbe6aacec748ecc429fe9327b6a954c8686b0f/checks/tasks/http_headers.py#L523-L569

Issues:
- [ ] [Comment about 6 months](https://github.com/internetstandards/Internet.nl/blob/3ddbe6aacec748ecc429fe9327b6a954c8686b0f/checks/tasks/http_headers.py#L536) should be updated to 1 (leap) year.
- [ ] The `split("max-age=")` is obviously wrong, since it also accepts `invalid-max-age=`.
- [ ] The [`int()`-function](https://docs.python.org/3/library/functions.html#int) accepts way too much (e.g. optional `+-` prefix, different base, etc.), make sure to test:
    - [ ] Fail on `max-age=+4294967294; includeSubdomains` (reason `+`), currently passes.
    - [ ] Fail on `max-age=31_536_000; includeSubdomains` (reason `_`), currently passes.

See [The max-age Directive - RFC6797](https://www.rfc-editor.org/rfc/rfc6797.html#section-6.1.1):
```none
    max-age-value = delta-seconds

    delta-seconds = <1*DIGIT, defined in [[RFC2616], Section 3.3.2](https://www.rfc-editor.org/rfc/rfc2616#section-3.3.2)>
```
and [RFC2616](https://www.rfc-editor.org/rfc/rfc2616#section-2.2):
```none
       DIGIT          = <any US-ASCII digit "0".."9">
```
