Secure zone detection using QTYPE=A before requesting TLSA record

Some nameservers wrongly reply with NOTIMP when receiving QTYPE=TLSA queries. This broken behaviour is known, the DANE SMTP RFC tries to limit the impact by mandating that an A or AAAA query should be performed before the TLSA query. There is no need to query the TLSA record if response for A/AAAA query are insecure. See section 2.2.2 in RFC7672.

@gthess Do you know if this still something to be fixed? Or is this something you have already fixed?

I don't remember working on that and I don't see anything related in the code from a quick look.
If internet.nl receives a non-answer (NOTIMP in this case) it will treat the domain as not having TLSA records which is true and fine.
I guess the initial idea of this issue was to try and detect and explicitly report on problematic setups but I am not sure how relevant it is nowadays.

@baknu and I Just discussed that this has never been raised in user questions, and seems like we already handle this well enough with a generic TLSA not found failure, so closing it.