DMARCbis will replace PSL with DNS tree walk

May become relevant in the future:

https://www.uriports.com/blog/dmarcbis-dns-tree-walk/


RFC draft: https://datatracker.ietf.org/doc/html/draft-ietf-dmarc-dmarcbis

Then the PSL download that is currently done to parse DMARC might be removed:
https://github.com/internetstandards/Internet.nl/blob/905422a7b8bb3c7e30c06613390997c6c29e58d6/checks/tasks/mail.py#L656-L687

This is now https://datatracker.ietf.org/doc/html/rfc9989 and example.nl has some of the newly added tags that are dissaproved by internet.nl.

There are exactly:
- RFC 9989: Domain-Based Message Authentication, Reporting, and Conformance (DMARC): https://datatracker.ietf.org/doc/html/rfc9989
- RFC 9990: Domain-Based Message Authentication, Reporting, and Conformance (DMARC) Aggregate Reporting: https://datatracker.ietf.org/doc/html/rfc9990
- RFC 9991: Domain-Based Message Authentication, Reporting, and Conformance (DMARC) Failure Reporting: https://datatracker.ietf.org/doc/html/rfc9991