Use canonical reference for IETF RFC's

From a mail dd 17 April 2023 on this (in Dutch):

----
De RFC Editor website is de canonical referentie, bijv. 
https://www.rfc-editor.org/rfc/rfc1034

Zie ook RFC 8499 en de referenties naar rfc-editor.org, 
https://www.rfc-editor.org/rfc/rfc8499.

-----


Also fix 'RFC' without a space:
```bash
$ grep -R "RFC[^ ]"
```
```none
grep: article/nederland-voor-veilig-emailverkeer/20170202_ondertekening_veilige_email_coalitie_WEBM_1280x720.webm: binary file matches
grep: article/nederland-voor-veilig-emailverkeer/20170202_ondertekening_veilige_email_coalitie_MP4_1280x720.mp4: binary file matches
article/securitytxt-test-toegevoegd/body_en.md:  [RFC9116](https://www.rfc-editor.org/rfc/rfc9116.html) security.txt file.
article/securitytxt-test-toegevoegd/body_nl.md:  [RFC9116](https://www.rfc-editor.org/rfc/rfc9116.html) security.txt file.
detail/tech/data/http-securitytxt/invalid_lang_en.md:Error: Value in 'Preferred-Languages' field must match one or more language tags as defined in RFC5646, separated by commas (line {line_no}).
detail/tech/data/http-securitytxt/invalid_lang_nl.md:Fout: De waarde in het veld 'Preferred-Languages' moet overeenkomen met één of meer taal-tags zoals gedefinieerd in RFC5646, gescheiden door komma's (regel {line_no}).
detail/mail/auth/dkim/exp_en.md:RFC2308 incorrectly answer `NXDOMAIN` instead of `NOERROR`. This makes it
detail/mail/auth/dkim/exp_nl.md:standaard RFC2308, foutief antwoorden met `NXDOMAIN` in plaats van
faqs/report/score/content_nl.md:Internet.nl controleert de correcte toepassing van moderne Internetstandaarden die de betrouwbaarheid van online diensten vergroten. Een score van 100% betekent dat een website, e-mailvoorziening of internetverbinding volledig voldoet aan de norm waartegen wij testen. Deze norm is gebaseerd op de internetstandaarden op de 'pas toe of leg uit'-lijst van Forum Standaardisatie, op veiligheidsadviezen van NCSC, en op relevante RFC's van IETF.
faqs/report/score/content_en.md:Internet.nl checks the (correct) implementation of modern Internet Standards that improve the reliability of online services. A score of 100% means that a website, e-mail service or internet connection complies with our test norm. This norm is based on the Internet Standards on the 'comply-or-explain' list of the Dutch Standardisation Forum, on the security advices of the Dutch NCSC and on the relevant RFCs of IETF.
faqs/rpki/content_nl.md:* [RPKI RFCs Graph](https://rpki-rfc.routingsecurity.net/)
faqs/rpki/content_en.md:* [RPKI RFCs Graph](https://rpki-rfc.routingsecurity.net/)
```

@bwbroersma Zou je in de content repo (version-1.8 branch) met grep (?) op "https://tools.ietf.org/html/", "https://datatracker.ietf.org/doc/html/" en "https://datatracker.ietf.org/doc/" kunnen zoeken en deze vervolgens vervangen door "https://www.rfc-editor.org/rfc/"?

> Also fix 'RFC' without a space:
> 
> ```shell
> $ grep -R "RFC[^ ]"
> ```
> 
> ```
> grep: article/nederland-voor-veilig-emailverkeer/20170202_ondertekening_veilige_email_coalitie_WEBM_1280x720.webm: binary file matches
> grep: article/nederland-voor-veilig-emailverkeer/20170202_ondertekening_veilige_email_coalitie_MP4_1280x720.mp4: binary file matches
Not fixed, false positive

> article/securitytxt-test-toegevoegd/body_en.md:  [RFC9116](https://www.rfc-editor.org/rfc/rfc9116.html) security.txt file.
> article/securitytxt-test-toegevoegd/body_nl.md:  [RFC9116](https://www.rfc-editor.org/rfc/rfc9116.html) security.txt file.
Fixed

> detail/tech/data/http-securitytxt/invalid_lang_en.md:Error: Value in 'Preferred-Languages' field must match one or more language tags as defined in RFC5646, separated by commas (line {line_no}).
> detail/tech/data/http-securitytxt/invalid_lang_nl.md:Fout: De waarde in het veld 'Preferred-Languages' moet overeenkomen met één of meer taal-tags zoals gedefinieerd in RFC5646, gescheiden door komma's (regel {line_no}).
Fixed

> detail/mail/auth/dkim/exp_en.md:RFC2308 incorrectly answer `NXDOMAIN` instead of `NOERROR`. This makes it
> detail/mail/auth/dkim/exp_nl.md:standaard RFC2308, foutief antwoorden met `NXDOMAIN` in plaats van
Fixed

> faqs/report/score/content_nl.md:Internet.nl controleert de correcte toepassing van moderne Internetstandaarden die de betrouwbaarheid van online diensten vergroten. Een score van 100% betekent dat een website, e-mailvoorziening of internetverbinding volledig voldoet aan de norm waartegen wij testen. Deze norm is gebaseerd op de internetstandaarden op de 'pas toe of leg uit'-lijst van Forum Standaardisatie, op veiligheidsadviezen van NCSC, en op relevante RFC's van IETF.
> faqs/report/score/content_en.md:Internet.nl checks the (correct) implementation of modern Internet Standards that improve the reliability of online services. A score of 100% means that a website, e-mail service or internet connection complies with our test norm. This norm is based on the Internet Standards on the 'comply-or-explain' list of the Dutch Standardisation Forum, on the security advices of the Dutch NCSC and on the relevant RFCs of IETF.
Not fixed, false positive

> faqs/rpki/content_nl.md:* [RPKI RFCs Graph](https://rpki-rfc.routingsecurity.net/)
> faqs/rpki/content_en.md:* [RPKI RFCs Graph](https://rpki-rfc.routingsecurity.net/)
Not fixed, false positive



Fixed with a very greedy one-liner, but I manually inspected the 80 replacements in 42 files, and they are correct:
```bash
grep -ZlEr --include \*.md '\([^(]+rfc[0-9][^)]+\)' \
| xargs -0 sed -i -r 's/\([^(]+rfc([0-9]+)(\/|\.html|\.txt)?(#[^)]+)?\)/(https:\/\/www.rfc-editor.org\/rfc\/rfc\1\3)/g'
```
Made a branch from version-1.8 called rfc-normalisation with one commit with this change, however I'm not sure if this was wise since we want to squash the version-1.8 into main. I leave this to @mxsasha how to merge / combine with version-1.8 + squash this to main.

> @bwbroersma Could you search in the content repo (version-1.8 branch) with grep (?) on"https://tools.ietf.org/html/", "https://datatracker.ietf.org/doc/html/" and "https://datatracker.ietf.org/doc/", and then replace these with "https://www.rfc-editor.org/rfc/"? This is probably faster and less error-prone than me adjusting it by hand. Thanks.

@baknu: very spot on about the paths used:
```bash
$ grep -hoPr --include \*.md '\(\K[^(]+(?=rfc[0-9][^)]+\))' | sort | uniq -c | sort -nr
     36 https://datatracker.ietf.org/doc/
     31 https://tools.ietf.org/html/
      8 https://datatracker.ietf.org/doc/html/
      4 https://www.rfc-editor.org/rfc/
      1 https://www.ietf.org/rfc/
```
I also replaced four instances of `https://www.rfc-editor.org/rfc/` that ended with `.html`.