DMARC SERVFAIL on subdomain should indicate test error

E.g. see subsidieregister.zuid-holland.nl,

- Note: this is no regression like #1808, see:
https://batch.internet.nl/mail/subsidieregister.zuid-holland.nl/13951041/
https://internet.nl/mail/subsidieregister.zuid-holland.nl/1542921/

```bash
$ unbound-host -v -f /usr/share/dns/root.key -4 -t TXT _dmarc.subsidieregister.zuid-holland.nl. 
Host _dmarc.subsidieregister.zuid-holland.nl. not found: 2(SERVFAIL). (error)
```

```bash
 $ dig +dnssec _dmarc.subsidieregister.zuid-holland.nl TXT                                                 

; <<>> DiG 9.18.33-1~deb12u2-Debian <<>> +dnssec _dmarc.subsidieregister.zuid-holland.nl TXT
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: SERVFAIL, id: 42755
;; flags: qr rd ra; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags: do; udp: 1232
;; QUESTION SECTION:
;_dmarc.subsidieregister.zuid-holland.nl. IN TXT

;; Query time: 287 msec
;; SERVER: 127.0.0.1#53(127.0.0.1) (UDP)
;; WHEN: Mon Jun 16 14:29:57 CEST 2025
;; MSG SIZE  rcvd: 68
```

However this will just register as a fail, not an test error.

Note that a tool like mxtoolbox does 'see' the organizational DMARC:
https://mxtoolbox.com/SuperTool.aspx?action=dmarc:subsidieregister.zuid-holland.nl&run=toolpage

[RFC 7489 § 6.3.3 Policy Discovery](https://datatracker.ietf.org/doc/html/rfc7489#section-6.6.3) does mention an empty set, but I'm unsure about errors like these. Then again: internet.nl can be more clear about the DNS response here.