MX CNAME is also not allowed by [RFC 2181 § 10.3](https://datatracker.ietf.org/doc/html/rfc2181#section-10.3).

A quick search in the [Tranco list](https://tranco-list.eu/) showed the first violation of this by `baidu.com`.

```bash
$ dig +short MX baidu.com|cut -f2 -d\ |xargs dig +noall +question +answer
```
```none
;mx.maillb.baidu.com.		IN	A
mx.maillb.baidu.com.	30	IN	A	12.0.243.41
;mx1.baidu.com.			IN	A
mx1.baidu.com.		255	IN	A	111.202.115.85
mx1.baidu.com.		255	IN	A	220.181.3.85
;mx50.baidu.com.			IN	A
mx50.baidu.com.		300	IN	A	12.0.243.41
;jpmx.baidu.com.			IN	A
jpmx.baidu.com.		6898	IN	A	119.63.196.201
;usmx01.baidu.com.		IN	A
usmx01.baidu.com.	6898	IN	A	12.0.243.41
;mx.n.shifen.com.		IN	A
mx.n.shifen.com.	265	IN	CNAME	mx.wshifen.com.
mx.wshifen.com.		266	IN	A	12.0.243.41
```

[Currently the email test on baidu.com doesn't show this](https://internet.nl/mail/baidu.com/1243216/).

