Authorization Record parsing in dmarc_verify_external_destinations 

The `dmarc_verify_external_destinations` function attempts to parse the authorization record but incorrectly applies checks for DMARC tags that are required in a standard DMARC record. These tags are not mandatory in an authorization record. As a result, it can generate false positive alerts indicating "no (valid) authorization record".

According to [RFC 7489, Section 7.1](https://datatracker.ietf.org/doc/html/rfc7489#section-7.1), only the version tag (i.e., `v=DMARC1`) is mandatory.

The verified erratum 5440 of RFC 7489 states that a semicolon should be included in the DMARC version tag. Correct: "v=DMARC1;". Incorrect: "v=DMARC1". See: https://www.rfc-editor.org/errata_search.php?rfc=7489